:root {
  --main-color: #442220;
  --main-second-color: #809848;
  --font-color: #e8b665;
  --font-second-color: #B0CA87;
}

* {
    margin: 0;
    padding: 0;
}

/* header {
    width: 100%;
    height: 21.6292134831461vh;
    background-color: var(--main-color);
} */

.topper {
    width: 100%;
    height: 21.6292134831461vh;
    background-color: var(--main-color);
    color: var(--font-color);
}

.topper img {
    width: 18%;
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.topper p {
    width: 400px;
    position: relative;
    bottom: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 40px 50px;
    border: steelblue;
    background-color: var(--main-second-color);
}

.nav-menu > :first-child {
    margin-right: 20%;
}

.nav-menu h1 {
    color: var(--font-color);
    text-shadow: 0px 2px var(--main-color);
    -webkit-text-stroke: .5px var(--main-color);
}

.nav-menu a {
    color: var(--font-second-color);
    text-decoration: none;
}
