:root {
  --main-color: #442220;
  --main-second-color: #809848;
  --font-color: #e8b665;
  --font-second-color: #B0CA87;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: var(--main-second-color)50; */
}

header {
    width: 100%;
    height: 21.6292134831461vh;
    background-color: var(--main-color);
    color: var(--font-color);
}

header img {
    width: 16%;
    position: relative;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}

header p {
    width: 400px;
    position: relative;
    bottom: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: var(--main-second-color);
    padding: 20px 30px;
    margin-bottom: 30px;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
    /* border-bottom: 4px solid var(--font-second-color); */
    border-radius: 20px;
}

nav .nav-links {
    display: flex;
    gap: 4rem;
    margin-left: auto;
    margin-right: 30px;
}

nav h1 {
    color: var(--font-color);
    text-shadow: 0px 2px var(--main-color);
    -webkit-text-stroke: .5px var(--main-color);
    margin-left: 25px;
}

nav a {
    font-size: large;
    color: var(--font-color);
    text-shadow: 0px 2px var(--main-color);
    text-decoration: none;
}

footer {
    padding: 40px 100px;
    margin-top: 40px;
    width: 100%;
    background-color: var(--main-second-color);
}
